@import url("https://fonts.googleapis.com/css?family=Raleway:300, 400");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
  text-align: center;
}

p {
  font-size: 1.7rem;
}

.main-header {
  background-image: url("./images/Screenshot\ 2021-10-19\ at\ 16.59.35.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  padding-bottom: 30px;
}

.review_img {
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 50%;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav-link {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 1%;
}

.nc-games {
  text-align: center;
  font-size: 3em;
  margin: 0;
  font-family: Rock Salt;
  font-weight: normal;
  color: white;
}

.nc-games-large {
  font-size: 6em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: Rock Salt;
  text-align: center;
  /* font-size: 4rem; */
  width: 100%;
}

.single_review_h1 {
  font-family: Rock Salt;
  text-align: center;
  font-size: 2em;
  color: #333;
}

.designer_category {
  font-family: Rock Salt;
  text-align: center;
  font-size: 2em;
  color: #333;
}

.single_review {
  text-align: center;
}

.login_message {
  text-align: center;
}

.login_form {
  color: white;
  font-size: 1.3rem;
}

.reviews_category_title {
  font-family: Rock Salt;
  font-size: 3rem;
  color: #333;
}

.review_body_title {
  color: #333;
}

.votes {
  color: #333;
}

.author_name {
  color: #333;
  font-size: 1.5rem;
}

#main_footer {
  position: absolute;
  bottom: 0px;
  background-color: #56ccf2;
  color: white;
  padding: 0.25em 0;
  margin: 0;
  left: 0px;
  width: 100%;
  display: flex;
}

.main_footer_container {
  display: flex;
}

.review_title {
  color: #333;
}
