@import url("https://fonts.googleapis.com/css?family=Raleway:300, 400");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  font-size: 1.7rem;
}

.App__div--header {
  background-image: url("./images/Screenshot\ 2021-10-19\ at\ 16.59.35.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  padding-bottom: 30px;
}

.review_section {
  border-bottom: solid rgb(224, 224, 224);
  padding-bottom: 20px;
}

.singleReview__img--review-img {
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 50%;
}

.Nav__ul {
  margin: 0;
}

.Nav__li {
  display: inline;
  padding: 0 1%;
}

.Nav__link {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.Nav__link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.Nav--main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.title--nc-games {
  text-align: center;
  font-size: 2em;
  margin: 0;
  font-family: Rock Salt;
  font-weight: normal;
  color: white;
}

.Header__title {
  font-size: 3.5em;
}

.App__section--main-content {
  margin: 1em;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
  min-height: 100%;
  margin-bottom: -50px;
}

.Home__header {
  font-family: Rock Salt;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

.SingleReview__info--title {
  font-family: Rock Salt;
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

.SingleReview__info--designer-category {
  font-family: Rock Salt;
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

.SingleReview__section {
  text-align: center;
  position: static;
  padding-bottom: 200px;
}

.RequiresLogin__login-message {
  text-align: center;
  font-size: 2rem;
}

.Header__logged-in-message {
  color: white;
  font-size: 1.3rem;
}

.LogInForm__log-in-instructions {
  color: white;
  font-size: 1.3rem;
}

.Reviews__category--title {
  font-family: Rock Salt;
  font-size: 2rem;
  color: #333;
}

.SingleReview__review-body--header {
  color: #333;
}

.SingleReview--amount-of-votes,
.SingleReviewComments--amount-of-votes {
  color: #333;
}

.singleReviewComments__section--author {
  color: #333;
  font-size: 1.5rem;
}

.Footer__div {
  position: fixed;
  bottom: 0px;
  background-color: #56ccf2;
  color: white;
  padding: 0.25em 0;
  margin: 0;
  left: 0px;
  width: 100%;
  display: flex;
  margin-top: 200px;
  height: 10%;
  z-index: 999;
}

.Reviews__h2--review-title {
  color: #333;
}

.SingleReviewComments__h3--no-comments-message {
  color: #333;
  font-size: 2rem;
}

.voting__button--plus {
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 100%;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 2rem;
  background-color: rgb(41, 189, 53);
  color: white;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: transform 250ms;
  cursor: pointer;
}

.voting__button--plus:hover {
  transform: translateY(-10px);
}

.voting__button--plus-clicked {
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 100%;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 2rem;
  background-color: rgb(40, 100, 45);
  color: white;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.voting__button--minus {
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 100%;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 2rem;
  background-color: rgb(228, 31, 31);
  color: white;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: transform 250ms;
  cursor: pointer;
}

.voting__button--minus:hover {
  transform: translateY(-10px);
}

.voting__button--minus-clicked {
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 100%;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 2rem;
  background-color: darkred;
  color: white;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.SingleReview__comments-section {
  border-bottom: solid rgb(224, 224, 224);
  padding-bottom: 30px;
}

.Styled-button-large {
  font-family: Raleway;
  color: #042d3a;
  border: 0;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  background-color: #56ccf2;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  color: #026080;
  transition: all 0.3s;
  position: relative;
  font-weight: bold;
}

.Styled-button-large span {
  transition: all 0.3s;
}

.Styled-button-large::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  transform: scale(0.1, 1);
  color: #026080;
}

.Styled-button-large:hover span {
  letter-spacing: 2px;
}

.Styled-button-large:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.Styled-button-large::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.4);
  color: #026080;
}

.Styled-button-large:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.Styled-button-small {
  font-family: Raleway;
  color: #042d3a;
  border: 0;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  margin-left: 10px;
  margin-top: 40px;
  font-size: 1rem;
  background-color: #56ccf2;
  line-height: 25px;
  height: 25px;
  text-align: center;
  width: 125px;
  cursor: pointer;
  color: #026080;
  transition: all 0.3s;
  position: relative;
  font-weight: bold;
  margin-top: 10px;
}

.Styled-button-small span {
  transition: all 0.3s;
}

.Styled-button-small::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  transform: scale(0.1, 1);
  color: #026080;
}

.Styled-button-small:hover span {
  letter-spacing: 2px;
}

.Styled-button-small:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.Styled-button-small::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.4);
  color: #026080;
}

.Styled-button-small:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.Styled-button-small-disabled {
  background-color: #333;
}

.LogInForm--invalid-username-message {
  color: white;
}

.Styled-button-medium {
  font-family: Raleway;
  color: #042d3a;
  border: 0;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  margin-left: 10px;
  margin-top: 40px;
  font-size: 1rem;
  background-color: #56ccf2;
  line-height: 25px;
  height: 50px;
  text-align: center;
  width: 125px;
  cursor: pointer;
  color: #026080;
  transition: all 0.3s;
  position: relative;
  font-weight: bold;
  margin-top: 10px;
}

.Styled-button-medium span {
  transition: all 0.3s;
}

.Styled-button-medium::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  transform: scale(0.1, 1);
  color: #026080;
}

.Styled-button-medium:hover span {
  letter-spacing: 2px;
}

.Styled-button-medium:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.Styled-button-medium::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.4);
  color: #026080;
}

.Styled-button-medium:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.LogInForm__input--log-in {
  height: 1.8rem;
  font-size: 1.3rem;
}

.Header--log-out-button {
  height: 3rem;
  width: 4.5rem;
  font-size: 1.2rem;
  color: #333;
}

.reviews {
  padding-bottom: 200px;
}

.SingleReviewComments--post-comment-instructions {
  margin-top: 50px;
  font-size: 1.3rem;
  color: #333;
}

.Reviews__sort-by-header {
  color: #333;
  font-size: 1.5rem;
}

.Reviews__container--sort-by-buttons {
  display: flex;
  justify-content: space-evenly;
}

.Reviews__sort-by-button {
  text-align: center;
  height: 60px;
  width: 100px;
  margin: 20px;
  font-family: Raleway;
  font-size: 1.1rem;
  background-color: #56ccf2;
  color: white;
  border: 0;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.SingleReviewComments__input--post-message {
  height: 50px;
  font-size: 1.2rem;
}

.comment-review__posted-message {
  font-size: 1.5em;
  color: #333;
}

.Add-comment-here {
  position: relative;
  margin-top: 0;
  margin-bottom: 100%;
  padding-bottom: 10px;
}

.WriteReview-instruction {
  position: relative;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-left: 10px;
}

.WriteReview-box {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1.5rem;
}

.WriteReview-box-textArea {
  width: 100%;
  height: 200px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1.5rem;
  border-bottom: 200px;
}

.WriteReviewContainer {
  align-content: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-bottom: 150px;
  margin-bottom: 150px;
}
