@import url("https://fonts.googleapis.com/css?family=Raleway:300, 400");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  font-size: 1.7rem;
}

.App__div--header {
  background-image: url("./images/Screenshot\ 2021-10-19\ at\ 16.59.35.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  padding-bottom: 30px;
}

.singleReview__img--review-img {
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 50%;
}

.Nav__ul {
  margin: 0;
}

.Nav__li {
  display: inline;
  padding: 0 1%;
}

.Nav__link {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.Nav__link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.Nav--main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.title--nc-games {
  text-align: center;
  font-size: 3em;
  margin: 0;
  font-family: Rock Salt;
  font-weight: normal;
  color: white;
}

.Header__title {
  font-size: 6em;
}

.App__section--main-content {
  margin: 1em;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
  min-height: 100%;
  margin-bottom: -50px;
}

.Home__header {
  font-family: Rock Salt;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

.SingleReview__info--title {
  font-family: Rock Salt;
  text-align: center;
  font-size: 2em;
  color: #333;
}

.SingleReview__info--designer-category {
  font-family: Rock Salt;
  text-align: center;
  font-size: 2em;
  color: #333;
}

.SingleReview__section {
  text-align: center;
  position: static;
  padding-bottom: 200px;
}

.RequiresLogin__login-message {
  text-align: center;
  font-size: 3rem;
}

.Header__logged-in-message {
  color: white;
  font-size: 1.3rem;
}

.LogInForm__log-in-instructions {
  color: white;
  font-size: 1.3rem;
}

.Reviews__category--title {
  font-family: Rock Salt;
  font-size: 3rem;
  color: #333;
}

.SingleReview__review-body--header {
  color: #333;
}

.SingleReview--amount-of-votes,
.SingleReviewComments--amount-of-votes {
  color: #333;
}

.singleReviewComments__section--author {
  color: #333;
  font-size: 1.5rem;
}

.Footer__div {
  position: fixed;
  bottom: 0px;
  background-color: #56ccf2;
  color: white;
  padding: 0.25em 0;
  margin: 0;
  left: 0px;
  width: 100%;
  display: flex;
  margin-top: 200px;
}

.Reviews__h2--review-title {
  color: #333;
}

.SingleReviewComments__h3--no-comments-message {
  color: #333;
  font-size: 2rem;
}

.voting__button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 2rem;
}

.SingleReview__comments-section {
  margin-top: 50px;
}

.Expandable__button--show-comments {
  height: 60px;
  width: 170px;
  margin-top: 40px;
  font-family: Raleway;
  font-size: 1.5rem;
}

.LogInForm--invalid-username-message {
  color: white;
}

.LogInForm__input--log-in {
  height: 1.8rem;
  font-size: 1.3rem;
}

.Header--log-out-button {
  height: 3rem;
  width: 4.5rem;
  font-size: 1.2rem;
  color: #333;
}

.reviews {
  padding-bottom: 200px;
}

.SingleReviewComments--post-comment-instructions {
  margin-top: 50px;
}
